# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg-info/
pip-wheel-metadata/

# PyInstaller
*.manifest
*.spec

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store
*.AppleDouble
.AppleDB

# Linux/macOS swap files
*.swp
*.swo
*.~lock.*

# SQLite database
responses.db

# Logs and temporary files
*.log
*.tmp
*.bak

# Streamlit deployment files
.streamlit/

# IDE files
.vscode/
.idea/
*.sublime-workspace

# Ignore local Python scripts used for testing or debugging
debug_question1_chart.py
q_modern.py
q1_test.py
questionnaire_full.py
questionnaire_plotter.py

# Ignore workspace settings
TernaryChartProject.code-workspace

# Ignore images and generated charts
ternary_chart.png
questionnaire_responses.db
test_streamlit.py
src/questions/question_manager_OLD.py


# Ignore working files
Response Permutations.csv
Response Permutations.xlsx
Modernity Worldview Home Page.docx
Ternary plot.sqbpro
modernity-worldview-3b29c2214fbb.json
